html,body {
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  line-height:1.5;
  word-spacing:3px;
  color: #666;
  background: #fff; 
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  height:100%;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #fff;
  height:100px;
  border-left:5px solid #ddd; 
}
::-webkit-scrollbar {
  height:0px;
  width:5px;
  border-left:1px solid #ddd; 
  background-color: #fff;
}
i {color:#edb1d2;}
u {text-decoration: none;}
img {
  padding:0px;
  margin:0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
img:hover {opacity:1;}
li {display:inline;}
a:link,a:visited {
  color:#666;
  text-decoration:none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover,a:active, #portfolio a:hover {
  color:#fae8f1;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
h1 {
  letter-spacing: 10px;  
  font-family: 'Roboto',sans-serif;
  font-size: 70px;
  font-weight:400;
  color: #b0b4bd;
  margin: 5px;
  padding: 15px;
}
h2 {
  font-family: 'Karla',sans-serif;
  font-size: 30px;
  color: #b0b4bd;
  margin: 5px;
  padding: 15px;
}
main {  
  margin:0px;
  padding:0px; 
  height:100%;  
}
section {
  margin-left:350px;
  margin-bottom:50px;
  max-width:100%;
  height:auto;  
}
nav {
  background:#fff;
  position:fixed;
  bottom:0px;
  width:100%;
  height:auto;
  display:block;
  padding:0px;
  margin:0px;
  z-index:2;
  text-align:center;
}
#menu {
  font-family:'Roboto',sans-serif;
  font-size:50px;
  font-weight:300;
  letter-spacing:5px;
  word-spacing:20px;
  padding:15px;
  margin:0;
  z-index:2;
  height:auto;
}
footer {
  font-family:'Roboto',sans-serif;
  font-size:14px;
  font-weight:300;
  letter-spacing:2px;
  color: #fff;
  padding:2px;
  background-color: #c9c9c9;
}

/* NAME LOGO */
#logo {
  margin-top:100px;
  margin-left:100px;
  padding:10px;
  width:150px;
  border:1px solid #bbb;
  position:fixed;
  display:inline-block; 
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}
#logo:hover {
  border:1px solid #fff;
  border-radius: 5px;
  color:#fae8f1;
}
#title {  
  font-size:50px;
  color: #aaa;
  font-family:'Raleway',sans-serif;
  font-weight:600;
  text-align:center;
  letter-spacing:10px;
}

/* INTRO */
#top {
  margin-left:400px;
  margin-bottom:50px;
  max-width:800px;
  height:100%;  
}

.button {
  display:inline-block;
  font-family:'Karla','sans-serif';
  color:#b0b4bd; 
  background:#fff;
  text-align:center;
  border:2px solid #555;
  border-radius:5px;
  padding:15px; 
  margin:10px;
  font-size:20px;   
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button:hover {
  border:2px solid #fff;
}

/* ABOUT */
#info { 
  margin: auto;
  padding: 0;
  opacity: 1;  
  -webkit-transition: 2s ease;
  transition: 2s ease;
  background-image: url('/img/ware.jpg');   
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100%;
  height: 100%;
  max-width: 100%;
  z-index: -1;
}
#about {
  float:right;
  top:50%;
  left:50%;
  margin:auto;
  max-width:800px;
  background: rgba(250,260,250,0.5);
  height:inherit;
  overflow:hidden;
  text-align:center;
}
#aboutText {
  font-family:'Lora',sans-serif;
  border: 1px solid #fff; 
  font-size:18px;
  padding:20px; 
  margin:20px;
  color: #444; 
  top:50%;
  left:50%;
}
#iconbar {
  margin:auto;
  padding:10px; 
  display:block; 
  text-align:center; 
}
#icons {
  padding:5px;
  margin:10px; 
}

/* PORTFOLIO */
#portfolio a {
  text-decoration:underline;
  text-align:center;
}
.thumbnail {
  overflow: hidden; 
  width:250px;
  height:250px;
  position:relative;
  border: 1px solid #ddd;
  margin:auto;
}
.thumbnail img {
  position:absolute;
  height:100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width:auto;
  vertical-align: middle;
}
#portfolio .column {
  margin:20px;
  width:80%;
}

/* GALLERY */
.gallery {
  border: 1px solid #ccc;
  display: block;
}
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
    -ms-flex: 30%;
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}
#gallery .column img {
  margin-top: 8px;
  vertical-align: middle;  
  border: 1px solid #ddd;
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}

#vidtext {
  font-size:20px;
  color:#ddd;
  margin:auto; 
  padding:20px; 
  bottom:0px;
  text-align:center;
  width:100%;
  height:100px; 
}
#vid {
  padding:0;
  margin:auto;
  min-width:100%; 
  min-height:100%;
  z-index:-5;
  position: absolute;
}

/* back to top */
.btn {
  position: fixed;
  bottom: 15px; 
  right: 15px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border:1px solid #bbb;
  color: #aaa; 
  padding: 5px; 
  margin:0px;
  font-size: 30px;   
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}
.btn:hover {
  border:1px solid #fff;
  border-radius: 5px;
}

